.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.product--image {
  width: 150px;
}

.product--title {
  margin: .5rem;
}

.product--subtitle {
  font-size: 12px;
}