.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.product--image {
  width: 125px;
}

.product--title {
  color: #344052;
  margin: .5rem;
}

.product--subtitle {
  color: #9DA6BD;
  font-size: 14px;
  font-weight: 300;
}