.App {
  display: flex;
  flex-direction: column;
  background-color: #F6F8FA;
  height: 100%;
}

.content-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  height: 100%;
}